
#theIntro {
    background: cover;
	width: 100%;
	height: 100%;
	background-color: #FFF6F7;
	opacity: 1;
	margin-top: 0;
	}

h1 {font-family: 'Megrim', cursive;
	font-weight: bold;}

#gif1r {display:block;
			margin-left: auto;
			margin-right: auto;
			z-index: -1;
			}

#enterbutton	{display: block;
				margin-left: auto;
				margin-right: auto;
				z-index: -1;
				margin-top: 10px;
				margin-bottom: 20px;
}

nav {
	display: inline-block;
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
}


.navbar { opacity :0.8;
	color: white;
	
}

.btn-twitter {
	color: white;
	background-color: #00acee;
	border-color: #009ad5;
	border-radius: 6px;
}

.btn-facebook {
	color: white;
	background-color: #4868ac;
	border-color: #314776;
	border-radius: 6px;
}

.btn-pinterest {
	color: white;
	background-color: #b62f26;
	border-color: #b62f26;
	border-radius: 6px;
}

.carousel-inner {
	max-height: 750px;
	position: center;
}

.img-responsive {
	max-height: 750px;
}

#video {display: block;
		margin: 0 auto;}


#about-section {height: 100vh;
				width: 100%;
				background-color: #d1d1e0;
				color: white;
				display: inline-block;
				position: relative;}

#about-header {height: 100%;
				text-align: center;
				display: inline-block;
				float: left;
				border-top: 30px;
				padding: 10px;
				margin: 50px 10px 10px 80px;
				}
				
.About {color: black;
		display: inline-block;
		float: right;
		width: 600px;
		padding: 20px;
		margin: 50px 30px 10px 10px;
		border: 5px;
		box-sizing: none !important;
		}

#title-start {margin-left: 30px;}

