
#theIntro {
    background: cover;
	width: 100%;
	height: 100vh;
	background-color: #FFF6F7;
	opacity: 1;
	margin-top: -5px;
	}

.navbar-header {
	font-family: 'Megrim', cursive;
	font-weight: bold;
}

#gif1r {
	display:block;
	margin-left: auto;
	margin-right: auto;
	z-index: -1;
	}

#intro-content	{
	display: block;
	text-align: center;
	background-color: transparent;
	font-family: 'Megrim';
	font-weight: bold;
	z-index: 0;
	}

#enterbutton {margin-top: 30px;
				padding-left: 10px;}

nav {
	display: inline-block;
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	z-index: 0
}


.navbar { 
	opacity: 0.8;
	color: white;	
}


.btn-twitter {
	color: white;
	background-color: #00acee;
	border-color: #009ad5;
	border-radius: 6px;
}

.btn-facebook {
	color: white;
	background-color: #4868ac;
	border-color: #314776;
	border-radius: 6px;
}

.btn-pinterest {
	color: white;
	background-color: #b62f26;
	border-color: #b62f26;
	border-radius: 6px;
}


#video {
	display: block;
	margin: 0 auto;
}

<<<<<<< HEAD

#title-start {
	margin-left: 30px;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
	margin: auto;
	height: 100vh;
	z-index: -1;
}
.carousel-indicators li {
	background-color: #b3b3cc;
}

.section-block {height: 100vh;
				width: 100%;
				color: white;
				display: inline-block;
				position: relative;
				margin-top: -5px;}

.header {height: 100%;
		text-align: center;
		display: inline-block;
		float: left;
		width: 50%;
		font-size: 50px;
		font-family: 'Megrim', cursive;
		font-weight: bold;}

#about-section {background-color: #e1e1ea;}

#about-header {background-color: #b3b3cc;}

.content {color: black;
		display: inline-block;
		float: right;
		width: 50%;
		padding: 50px;
		margin: 50px 0px 10px 0px;
		box-sizing: none !important;}			

#title-start {margin-left: 30px;}

.title-placement {margin: 100px 100px 100px 0px;}

#work-header {background-color: #9999ff;}
						
#work-list ul {list-style-type: none;
			font-size: 30px;
			text-align: left;
			margin-left: 50px;}

#contact-section {background-color: #f2e6ff;}

#contact-header {background-color: #d9b3ff;}
>>>>>>> origin/master
