
#theIntro {
    background: cover;
	width: 100%;
	height: 100%;
	background-color: #FFF6F7;
	opacity: 1;
	margin-top: 0;
	}

h1 {font-family: 'Megrim', cursive;
	}

#gif1r {display:block;
			margin-left: auto;
			margin-right: auto;
			z-index: -1;
			}

#enterbutton	{display: block;
				margin-left: auto;
				margin-right: auto;
				z-index: -1;
				margin-top: 10px;
				margin-bottom: 20px;
				}

nav {
	display: inline-block;
	justify-content: space-around;
}

.nav-content {
	color: red
}
.navbar { opacity :0.8;
	color: white;
}

.btn-twitter {
	background-color: #00acee;
	border-color: #009ad5;
}

.btn-facebook {
	background-color: #4868ac;
	border-color: #314776;
}

.btn-pinterest {
	background-color: #b62f26;
	border-color: #b62f26;
}

