
/*intro page*/

#theIntro {
    background: cover;
	width: 100%;
	height: 100vh;
	background-color: #FFF6F7;
	opacity: 1;
	margin-top: -5px;
	}

#gif1r {
	display:block;
	margin-left: auto;
	margin-right: auto;
	z-index: -1;
	padding-left: 30px;
	padding-top: 70px;
	}

#intro-content	{
	display: block;
	text-align: center;
	background-color: transparent;
	font-family: 'Megrim';
	font-weight: bold;
	z-index: 0;
	}

#enterbutton {
	margin-top: 30px;
	padding-left: 10px;
}

#title-start {
	margin-left: 30px;
}

#logo {
	height: 150px;
}

/*Navbar styling */

.navbar-header {
	font-family: 'Megrim', cursive;
	font-weight: bold;
}

nav {
	display: inline-block;
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	z-index: 0
}


.navbar { 
	opacity: 0.8;
	color: white;	
}


.btn-default {
	border: none;
	background-repeat: no-repeat;
    background-position: center center;
    width: 30px;
	height: 30px;

}

#twitter {
	background: url('../images/twitter.png');
}

#instagram {
	background: url('../images/instagram.png');
}


/*Carousel */

.carousel {
	padding-top: 70px;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
	margin: auto;
	height: 90vh;
	z-index: -1;
}
.carousel-indicators li {
	background-color: #b3b3cc;
}

.section-block {
	height: 100vh;
	width: 100%;
	color: white;
	display: inline-block;
	margin-top: -5px;
	z-index: -1;}

/*Section blocks generic styling */

.header {
	height: 100%;
	display: inline-block;
	float: left;
	width: 50%;
	font-size: 5vh;
	font-family: 'Megrim', cursive;
	font-weight: bold;		
}

.content {
	color: black;
	display: inline-block;
	float: right;
	width: 50%;
	padding: 50px;
	margin: 0px 0px 0px 0px;
	box-sizing: none !important;
	overflow: auto;
	}			

.title-placement {
	margin-left: 25%;
	padding-right: 10px;
	margin-top: 25%;
	font-size: 5vh;
}

/*about section*/

#about-section {
	background-color: #d1ceea;
	
}

#about-header {
	background-color: #b3b3cc;
}

#img-about {
	margin-left: 25%;
	margin-top: 40px;
	border-radius: 130px;
}

/*work section*/

#work-header {
	background-color: #9999ff;
	z-index: 0;
}
						
#work-list ul {
	list-style-type: none;
	font-size: 30px;
	text-align: left;
	margin-left: 50px;
}


#work_content {
	overflow: auto;
	max-height: none;
	z-index: 1;
	background-color: #c1cbff;
}

.thumbnail {
	border: none;
}

#video {
	display: block;
	margin: 0 auto;
}

.cat {
	padding-top: 45px;
}

#work-header.stick {
    margin-top: 0 !important;
    position: fixed;
    max-height:100vh;
    top: 0;
    z-index: 0;   }

hr {display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
	margin-top: 10px;}

.container {
	width: 100%
}

/*Contact section*/

#contact-form {
	background-color: #f2e6ff;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
	border: 0;
	height: 100vh;
}

#contact-header {
	background-color: #d9b3ff;
}


/*Footer*/

footer {
	text-align: right;
	background-color: #e1e1ea;
	padding: 5px;
}

/*Media Queries*/

@media screen and (min-width: 750px) {
	#videolink {display:none;}
}

@media screen and (min-width: 0px) and (max-width:750px) {
       #work-list {display: none;}
       #video {display:none;}
       #videolink {display: inline;}
       #img-about {display: none;} }

p {
	font-family: "Roboto";
	color: white;
}